
h1 {
  text-align: center;
}

body {
  background: #808080;
}

#menu_flex {
  display: flex;
  justify-content: space-around;
}
/*
=======================
navigation
=======================
*/
nav {
  border:
}
/*
========================
section
========================
*/
.jake-img {
  height: 300px;
  width: 500px;
}
/*
========================
div
========================
*/
#jake_flex {
  display: flex;
  justify-content: space-around;
}
